header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
#theNav {
    li a {
        padding: .5rem 1rem;
    }
}
.customerParent {
    section {
        grid-template-columns: 200px auto;
        column-gap: 8px;
        padding: 7px;
    } // end section
} // end parent

.serviceParent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    section h3 {
        position: absolute;
        font-size: 1rem;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: $secondaryColor;
        color: white;
        padding: .2rem;
        margin: 0;
        border-radius: 10px 10px 20px 20px;
      }
}
