/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */


nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    li a {
        color: white;
        display: block;
        padding: .75rem $gutter;
        text-decoration: none;
        border-bottom: 1px solid $greyColor;
    }
    li#active a {
        background-color: #567218;
    }
    li a:hover {
        background-color: rgba(0, 0, 0, .3);
    }
}

nav ul.open {
    height: auto;
}

#hamburgerBtn {
    border: none;
    background: none;
    font-size: 2rem;
    height: 44px;
    width: 44px;
    cursor: pointer;
    
    &::before {
        content: "\2630";
    }
}

#hamburgerBtn.open::before {
    content: "\2715";
    font-size: 1.5rem;
}

#theNav {
    background-color: $primaryColor;
}

/* Sub menu items here */
.parent>a::after {
    content: "\25BC";
    font-size: .75rem;
    float: right;
}

.parent ul {
    list-style-type: none;
    padding: 0;
    background-color: $secondaryColor;
    display: none;

    li a {color: white;}
}

.parent:hover ul {
    display: block;
}