/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} // end all elements

/* --------------------------- BODY --------------------------- */
body {
  font-family: $defaultFont;
  font-weight: $lightWeight;
  min-width: 320px;
}

/* --------------------------- HEADER --------------------------- */
#headerWrapper {
  border-bottom: 1px solid $greyColor;
}
header {
  display: grid;
  grid-template-columns: 50px auto 150px;
  column-gap: $gutter;
  align-items: center; //vertically
  padding: 0.5rem $gutter;
  span {
    font-size: 1.6rem;
    font-weight: $lightWeight;
    color: $primaryColor;
  }

  a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
  }
} // end header

/* --------------------------- MAIN --------------------------- */
main {

  h1, h2 {
    margin: 1rem 0 0 2rem;
  }
  p {
    padding: 0.5rem $gutter;
    color: #333;
    line-height: $leading;
  }
} // end main

.swiper,
.swiper img {
  width: 100%;
  height: auto;
}

.swiper {
  position: relative;
  z-index: 0;

  div#swiper-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    padding: 2rem;
    z-index: 10;
    text-align: center;

    p {
      color: white;
    }
  }
}

.serviceParent {
    display: grid;
    margin: 1rem;

  section {
    position: relative;
    margin: 1rem;
    padding: 0;

    h3 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: $secondaryColor;
      color: white;
      padding: .8rem;
      margin: 0;
      border-radius: 0 0 20px 20px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    img:last-child {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(2px);
    }
  }
}

.customerParent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  section {
    padding: 7px;

    img {
      width: 100%;
      max-width: 200px;
      height: auto;
      clip-path: circle(50% at 50% 50%);
      transition: transform 1s;
      &:hover {
        transform: rotate(-15deg);
      }
    }
  } // end section
} // end parent

/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
  background-color: $primaryColor;
} // end footer wrapper

footer {
  font-size: 0.85rem;
  padding: 1rem $gutter;
  color: $greyColor;
  text-align: center;
  line-height: $leading;
  a {
    color: $greyColor;
  }
} // end footer
