$primaryColor: #374911; 
$secondaryColor: #7e6c4d;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:"Red Hat Display", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;